<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<title>Charles's Portfolio Website</title>
	<h1>Distinction</h1>
</head>
<body>
	<center>
   	<h3><a href="/">Home</a>
	<a href="/projects">Projects</a>
	<a href="/jobs">Work Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a></h3>
	</center>
	<h2>There is a brief description, pdf, and video on this page.</h2>
	<p>The purpose of this project is to have students be able to declare their current location.
		Students do this by having RFID tags that they scan whenever they want to declare their
		location. Students scan their tags on boxes that are placed around campus where students
		would need to declare their locations. The RFID box sends these RFID tag scans to a
		MySQL database for later parsing.</p>
	<iframe src="../../assets/Distinction Documentation Final.pdf" height="1000px" width="100%"></iframe>
	<center>
		<iframe id="ls_embed_1629576303" src="https://livestream.com/accounts/7024122/events/9625899/videos/220232790/player?width=960&amp;height=540&amp;enableInfo=true&amp;defaultDrawer=feed&amp;autoPlay=false&amp;mute=false" width="100%" height="540" frameborder="0" scrolling="no" allowfullscreen=""> </iframe>
	</center>
</body>
</html>
