<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<title>Charles's Portfolio Website</title>
	<h1>LAACES Programming Assistant</h1>
</head>
<body>
	<center>
    <h3><a href="/">Home</a>
	<a href="/projects">Projects</a>
	<a href="/jobs">Work Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a></h3>
	</center>
        <h2>There is a brief description and a pdf on this page.</h2>
    <p>In this project I was the Program Manager for the LAACES team as Northwestern
        State University.<br><br> Here is a mission goal of this project: <br>
        For this first LaACES project of NSULA/LSMSA collaboration, the team plans to
construct a payload to be launched by atmospheric sounding balloon to 100,000 ft (30,480 m)
while measuring atmospheric temperature, pressure, % relative humidity, and altitude. The
students will use this data to explore the psychrometric principle of saturated vapor pressure as a
function of altitude. Prior to this experiment, the team will perform calibration testing on each
sensor, with focus on reading accuracy and sampling frequency.
    </p>
    <iframe src="../../assets/NSUDemonSats_FRR2.pdf" height="1000px" width="100%"></iframe>
</body>
</html>