<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Charles's Portfolio Website</title>
	<h1>LAACES Programming Manager</h1>
</head>
<body>
	<center>
    <h3><a href="/">Home</a>
	<a href="/projects">Projects</a>
	<a href="/jobs">Work Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a></h3>
	</center>
    <p>In this project I was the Program Manager for the LAACES team as Northwestern
        State University.<br><br> Here is a mission goal of this project: <br>
        For this second LaACES project of NSULA/LSMSA collaboration, Team DemonSats plans to
    launch a payload by atmospheric sounding balloon to 100,000 ft (30,480 m) to explore saturated
    vapor pressure as a function of altitude and by constructing a MegaSat payload to measure
    atmospheric temperature, pressure, % relative humidity, and altitude.
    </p>
    <iframe src="../../assets/Charles-Beam-NSU-LAACES-FRR1.pdf" height="1000px" width="100%"></iframe>
</body>
</html>