<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<title>Charles's Portfolio Website</title>
	<h1>Charles's Contact Info</h1>
</head>
<body>
	<center>
    <h3><a href="/">Home</a>
	<a href="/projects">Projects</a>
	<a href="/jobs">Work Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a></h3>
	</center>
	<center>
    <h2>
        <a href = "tel:12259164447">Phone: (225) 916-4447</a><br>
		<a href = "mailto: charleslbeam@gmail.com">Email: charleslbeam@gmail.com</a><br>
		<a href = "https://github.com/Cbturtle2">Github: Cbturtle2</a><br>
		<a href = "https://www.linkedin.com/in/charles-beam-183913220">Linkedin: Charles Beam</a><br>
	</h2>
	</center>
</body>
</html>