<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<title>Charles's Portfolio Website</title>
	<h1>Charles's Contact Info</h1>
</head>
<body>
	<center>
    <h3><a href="/">Home</a>
	<a href="/projects">Projects</a>
	<a href="/jobs">Work Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a></h3>
	</center>
	<center>
    <h2>Phone: (225) 916-4447<br>
        Email: charleslbeam@gmail.com<br>
		Github: Cbturtle2<br>
		Linkedin: Charles Beam<br>
	</h2>
	</center>
</body>
</html>