<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">	
	<title>Charles's Portfolio Website</title>
	<h1>Charles's Portfolio Website</h1>
	<body>
</head>
<body>
	<center>
	<a href="/projects">Projects</a>
	<a href="/jobs">Job Experience</a>
	<a href="/experience">Relevant Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a>
	</center>
	<p>I am a first year computer science student at Rochester Institute of Technology. Check out my "Projects" to see the school automation system I made and the writeup for a payload a team and I send 100,000 feet into the atmosphere. Check out my "Experience" to see my contribution to the payload team where I was Program Manager as well as some programming classes I have taken. Want to hear about my time at Texas Roadhouse (probably not), then click on my "Job Experience". Feel free to reach out to me in the "Contact Me" tab.</a><br>
</body>
</html>
