<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">	
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<title>Charles's Portfolio Website</title>
	<h1>Charles's Portfolio Website</h1>
</head>
<body>
	<center>
	<h3><a href="/">Home</a>
	<a href="/projects">Projects</a>
	<a href="/jobs">Work Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a></h3>
	</center>
	<p>&emsp;I am a first year computer science student at Rochester 
		Institute of Technology. Check out my "Projects" to see 
		the school automation system I made and the writeup for a
		 payload a team and I send 100,000 feet into the atmosphere. 
		 Check out my "Experience" to see my contribution to the 
		 payload team where I was Program Manager as well as some 
		 programming classes I have taken. Want to hear about my 
		 time at Texas Roadhouse (probably not), then click on my 
		 "Job Experience". Feel free to reach out to me in the 
		 "Contact Me" tab.</a><br>
		 <br><br>
		 <h2>Programming Languages: </h2>
		 <ul>
			 <li>Java (4 years)</li>
			 <li>C++ (3 years)</li>
			 <li>Python (2 years)</li>
		 </ul>
		 <br>

	<h2>Technologies: </h2>
		 <ul>
			 <li>Arduino</li>
			 <li>Bash</li>
			 <li>RFID Technologies</li>
			 <li>LATEX</li>
			 <li>Vim</li>
		 </ul>
	 <br>

	<h2>Operating Systems: </h2>
		<ul>
			<li>Windows</li>
			<li>Linux (Ubuntu, Arch)</li>
		</ul>
	<br>

	<h2>Programming Clases: </h2>
		<ul>
			<li>Data Structures</li>
			<li>Graph Algorithms</li>
			<li>Software Engineering</li>
			<li>Programming in Python</li>
			<li>History of Science with a Focus in Computing History</li>
			<li>Robotics</li>
			<li>C++ Through Game Design</li>
			<li>Fundamentals of HTML, CSS, & JavaScript</li>
			<li>Ap Computer Science A (5 on AP Exam)</li>
			<li>Ap Computer Science Principles (4 on AP Exam)</li>
			<li>Computer Science 1 (Beginning Java)</li>
		</ul>
</body>
</html>
