<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Charles's Portfolio Website</title>
	<h1>Charles's History</h1>
</head>
<body>
	<center>
    <h3><a href="/">Home</a>
    <a href="/projects">Projects</a>
	<a href="/jobs">Work Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a></h3>
	</center>
	<!--- Put ambassador job here --->
    <h3>Texas Roadhouse</h3>
    <h4>05/2021 – 08/2021<br>Position: Togo</h4>
    <p>Description: At Texas Roadhouse I was in charge of checking 
        customer’s togo orders, packing orders, and checking out 
        customers. I utilized customer service skills as well as 
        working with a team. In order for togo order to go out 
        effectively, everyone had to do their part or orders would 
        get backed up.</p><br>

    <h3>Maxwell’s Market</h3>
    <h4>05/2020 – 08/2020<br>Position: Salad Specialist</h4>
    <p>Description: At Maxwell’s Market, I was in charge of managing 
        the salad station. I had to arrive early and prepare the 
        station for the lunch rush. Once opened, I had to handle 
        order tickets, customer’s coming up for salad orders, 
        preparing salads, and cooking other food items. At this job, 
        I had to do many things simultaneously, making sure none of 
        them got too backed up.</p><br>
</body>
</html>
