<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<title>Charles's Portfolio Website</title>
	<h1>Charles's Projects</h1>
</head>
<body>
	<center>
    <h3><a href="/">Home</a>
	<a href="/projects">Projects</a>
	<a href="/jobs">Work Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a></h3>
	</center>
    <h2>Personal Favorites: </h2>
    <h3><a href="/proj/distinction">Automated School System for Declaring a Students Location</a></h3>
	<h3><a href="/proj/LAACESProgManager">Programming Manager for LAACES Northwestern State University Team 2020-21</a></h3>
	<br><h2>Other Cool Stuff: </h2>
	<h3><a href="/proj/personalwebsite">Wrote this website using HTML and CSS. Deployed using flask, gunicorn, docker, and kubernetes</a></h3>
	<h3><a href="/proj/resumeproject">Wrote a Resume using LaTeX</a></h3>
	<h3><a href="/proj/LAACESProgAssistant">Programming Assistant for LAACES Northwestern State University Team 2019-20</a></h3>
</body>
</html>
