<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<title>Charles's Portfolio Website</title>
	<h1>Charles's Resume</h1>
</head>
<body>
	<center>
    <a href="/">Home</a>
	<a href="/projects">Projects</a>
	<a href="/jobs">Work Experience</a>
	<a href="/experience">Relevant Experience</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact Me!</a>
	</center>
    <iframe src="https://csh.rit.edu/~charles/Resume.pdf" height="1000px" width="100%"></iframe>
</body>
</html>